*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

html{

	scroll-behavior: smooth;

}

body{
	background:var(--primary-color);
	/* overflow-x: hidden !important;
	 max-width: 100%; */
}

/*----------------------------------------------DARK MODE---------------------------------------------------------*/
#icon{
	cursor: pointer;
	width: 20px;
	opacity: 0;
	animation: slideTop .5s ease forwards;
	animation-delay: 1.1s;	
}

nav ul{
	flex:1;
	text-align: right;
}

:root{
	--primary-color:#eff4fd;
	--secondary-color:black;
	--tertiary-color:#606163;
	--fourth-color:darkcyan;
}

.dark-theme{
		--primary-color:#1B2631;
	    --secondary-color:#fff;
	    --tertiary-color:#fff;
	    --fourth-color:#fff;

}


/*----------------------------------------------HOME---------------------------------------------------------*/

#hero{
	position: relative;
	width: 100%;
	height: 100vh;
	background:var(--primary-color);
	padding-top: 15px;

}

nav{
	display: flex;
	width: 84%;
	margin: auto;
	padding: 20px 0;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 1;
	background:var(--primary-color);
	padding: 5px 8%;
}

nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 25px;
}

nav ul li a{
	text-decoration: none;
	color: var(--secondary-color);
	font-weight: bold;
	transition: 0.5s;
	opacity: 0;
	animation: slideTop .5s ease forwards;
	animation-delay: calc(.2s * var(--i));
	display: inline-block;	
}

@keyframes slideTop{
	0%{
		transform: translateY(100px);
		opacity: 0;
	}

	100%{
		transform: translateY(0);
		opacity: 1;
	}
}


nav ul li a:hover{

	color: darkcyan;
}

nav h1{
	font-size: 40px;
	color: var(--secondary-color);
	opacity: 0;
	animation: slideRight 1s ease forwards;
}

@keyframes slideRight{
	0%{
		transform: translateX(-100px);
		opacity: 0;
	}

	100%{
		transform: translateX(0);
		opacity: 1;
	}
}


nav a{
	text-decoration: none;
}

.detel{
	margin-left: 8%;
	margin-top: 15%;
}

.detel h1{
	font-size: 50px;
	color: var(--secondary-color);
	margin-bottom: 20px;
	opacity: 0;
	animation: slideBottom 1s ease forwards;
	animation-delay: .6s;
}

@keyframes slideBottom{
	0%{
		transform: translateY(-100px);
		opacity: 0;
	}

	100%{
		transform: translateY(0);
		opacity: 1;
	}
}

span{
	color: darkcyan;
}


.detel p{
	color: var(--tertiary-color);
	line-height: 22px;
	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: 1s;
}

@keyframes slideLeft{
	0%{
		transform: translateX(100px);
		opacity: 0;
	}

	100%{
		transform: translateX(0);
		opacity: 1;
	}
}

.detel a{
	background: #212121;
	padding: 10px 18px;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	display: inline-block;
	margin: 20px 0;
	border-radius: 5px;
	transition: 0.5s;
	
}

.detel a:hover{
	transform: scale(1.1);
}

.dop{
	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: 1.5s;
}

.images{
	width: 45%;
	height: 80%;
	position: absolute;
	bottom: 0;
	right: 100px;
	opacity: 0;
	animation: zoomIn 1s ease forwards;
	animation-delay: 1.8s;
}

@keyframes zoomIn{
	0%{
		transform: scale(0);
		opacity: 0;
	}

	100%{
		transform: scale(1);
		opacity: 1;
	}
}



.images img{
	height: 100%;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	transition: bottom 1s, left 1s;	
}


.images:hover #shape{
	bottom: 40px;
}

.images:hover .moi{
	left: 45%;
}

.social-links{
	margin-left: 8%;
	margin-top: 100px;
}

.social-links a{
	text-decoration: none;
	font-size: 30px;
	margin-right: 20px;
	color: var(--tertiary-color);
	display: inline-block;
	transition: transform 0.5s;
	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: calc(.2s * var(--i));	
}

.social-links a:hover{
	color: darkcyan;
	transform: translateY(-5px);
}


/*----------------------------------------------ABOUT ME---------------------------------------------------------*/

#about{
	padding: 10px 0;
	background:var(--primary-color);
	height: 90vh;
}

.row{
	display: flex;
	justify-content: space-between;
	/* flex-wrap: wrap; */
}

.about-col-1{
	flex-basis: 40%;
	opacity: 0;
	animation: slideRight 1s ease forwards;
	animation-delay: 1s;
}

.about-col-1 img{
	width: 90%;
	padding-left:10%;
}

.about-col-2{
	flex-basis: 60%;

}

.about-col-2 h1{
	font-weight: 600;
	padding-top: 90px;
	font-size: 40px;
	color: var(--secondary-color);
	opacity: 0;
	animation: slideBottom 1s ease forwards;
	animation-delay: .6s;
}

.about-col-2 p{
	padding-top: 20px;
	line-height: 1.5;
	color: var(--secondary-color);
	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: 1s;
}


table{
	padding-top: 70px;
	color: var(--secondary-color);
	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: 1.5s;
}

td{
	line-height: 1.5;
	padding-right: 50px;
	padding-top: 30px;
}

td span{
	font-weight: bold;
	font-size: 18px;
}

th{
	font-size: 20px;
	padding-right: 190px;
	transition: 0.5s;
	text-decoration: underline;
	cursor: pointer;
}

th:hover{
	color: darkcyan;
}

/*-------------------------------------------My Project------------------------------------------------------*/

#portfolio{
	background:var(--primary-color);
	
	
}

#portfolio h1 {
	font-weight: 600;
	padding-top: 90px;
	font-size: 40px;
	text-align: center;
	color: var(--secondary-color);
	opacity: 0;
	animation: slideBottom 1s ease forwards;
	animation-delay: .6s;
}

.line{
	padding-left: 550px;
	opacity: 0;
	animation: slideBottom 1s ease forwards;
	animation-delay: .8s;

}

.work-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 90px;
	padding-left: 25px;

}

.work{
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 5px 10px black;
	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: calc(.1s * var(--i));	
}

.work img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	display: block;
	transition: 0.5s;
}

.work:hover img{
	transform: scale(1.1 );
}

.layer{
	width: 90%;
	height: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.6), darkcyan);
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 30px;
	text-align: center;
	transition: height 0.5s;
}

.layer h3{
	font-weight: 500;
	color: snow;
	margin-bottom: 20px;
}

.layer p{
	color: snow;
}

.layer a{
	margin-top: 20px;
	color: darkcyan;
	text-decoration: none;
	font-size: 18px;
	line-height: 60px;
	background: snow;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
}

.work:hover .layer{
	height: 100%;
}

.btn{
	display: block;
	margin: 50px auto;
	width: fit-content;
	border: 1px solid darkcyan;
	padding: 14px 40px;
	border-radius: 5px;
	text-decoration: none;
	color: var(--fourth-color);
	transition: 0.5s;
	font-weight: bold;
}

.btn:hover{
	transform: scale(1.1);
}

.sss1{
	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: 1.5s;
}


/*-------------------------------------------CONTACT ME------------------------------------------------------*/


#contact{
background: var(--primary-color);
margin-bottom: 100px;
}

.hh h1{
	font-size: 50px;
	color: var(--secondary-color);
	opacity: 0;
	animation: slideBottom 1s ease forwards;
	animation-delay: .6s;
}

.contact-left a{
	text-decoration: none;
	transition: 0.5s;
	color: var(--secondary-color);
}

.contact-left a:hover{
	color: darkcyan;
}

.contact-left{
	flex-basis: 35%;
	padding-left: 100px;
}

.contact-right{
	flex-basis: 50%;
	padding-right: 100px;
}

.contact-left p{
	margin-top: 30px;
	color: #212131;
	transition: 0.5s;
	color: var(--secondary-color);
	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: 1s;
}

.contact-left p:hover{
	color: darkcyan;
}

.contact-left p i{
	color: darkcyan;
	margin-right: 15px;
	font-size: 25px;

}

.social-icons{
	margin-top: 35px;
	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: 1s;
}

.social-icons a{
	text-decoration: none;
	font-size: 30px;
	margin-right: 15px;
	color: var(--tertiary-color);
	display: inline-block;
	transition: transform 0.5s;
}

.social-icons a:hover{
	color: darkcyan;
	transform: translateY(-5px);
}

.btn.btn2{
	display: inline-block;
	background:var(--primary-color);
	color: var(--fourth-color);
}

.sss{
	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: 1s;
}

.contact-right form{
	width: 100%;
	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: 1.5s;
}

form input, form textarea{
	width: 100%;
	border: 0;
	outline: none;
	background: #262626;
	padding: 15px;
	margin: 15px 0;
	color: #fff;
	font-size: 18px;
	border-radius: 6px;
}

form .btn2{
	padding: 14px 60px;
	font-size: 18px;
	margin-top: 20px;
	cursor: pointer;
}

.p{
	color: #212131; ;
}

#msg{
	color: #0FCB00;
	margin-top: -40px;
	display: block;
}


/*-------------------------------------------FOOTER------------------------------------------------------*/


footer{
	position: relative;
	width: 100%;
	background: #5F6A6A;
	min-height: 100px;
	
	display: flex;
	justify-content: center;
	justify-items: center;
	flex-direction:column ;
}

footer .social-icons3, .menu2{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	flex-wrap: wrap;
}

.menu2 li {
	list-style: none;
}

footer .social-icons3 a{
	text-decoration: none;
	font-size: 30px;
	margin: 0 10px;
	color: snow;
	display: inline-block;
	transition: transform 0.5s;
}

footer .social-icons3 a:hover{
	color: #45f3ff;
	transform: translateY(-5px);
}

footer .menu2 li a{
	text-decoration: none;
	font-size: 18px;
	margin: 0 10px;
	color: snow;
	display: inline-block;
	transition: transform 0.5s;
}

footer .menu2 li a:hover{
	color: #45f3ff;
}

footer p{
	color: snow;
	text-align: center;
	margin-top: 10px;
}

footer p i{
	color: #45f3ff;
}



footer .wave{
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	height: 100px;
	background: url(../images/wave.png);
	background-size: 1000px 100px;
}

footer .wave#wave1{
	z-index: 1000;
	opacity: 1;
	bottom: 0;
	animation: animateWave 4s linear infinite;
}


@keyframes animateWave{
	0%{
		background-position-x: 1000px;
	}
	100%{
		background-position-x: 0px;
	}
}

footer .wave#wave2{
	z-index: 999;
	opacity: 0.5;
	bottom: 10px;
	animation: animateWave_02 4s linear infinite;
}

@keyframes animateWave_02{
	0%{
		background-position-x: 0px;
	}
	100%{
		background-position-x: 1000px;
	}
}

footer .wave#wave3{
	z-index: 1000;
	opacity: 0.2;
	bottom: 15px;
	animation: animateWave 3s linear infinite;
}


@keyframes animateWave{
	0%{
		background-position-x: 1000px;
	}
	100%{
		background-position-x: 0px;
	}
}

footer .wave#wave4{
	z-index: 999;
	opacity: 0.7;
	bottom: 20px;
	animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave_02{
	0%{
		background-position-x: 0px;
	}
	100%{
		background-position-x: 1000px;
	}
}


.up i{
	color: snow !important;
	font-size: 45px;
	padding-right: 30px;
}

.up a{
	text-decoration: none;
	float: right !important;
}

/*--------------------------------------------------CSS FOR SMALL SCREENS-------------------------------------------------------------*/

nav .ri-menu-line{
	display: none;
	color: var(--secondary-color);
}

nav .ri-close-line{
	display: none;
	color: var(--secondary-color);
}


@media only screen and (max-width:600px){


/* .images{
		width: 100%;
		height: 460px;
		top:100px;
} */

.images{
	position: absolute;
	width: 100%;
	height: 460px;
	top:100px;
	left:0px;
	opacity: 0;
	animation: zoomIn 1s ease forwards;
	animation-delay: 1.8s;

}
.img-bk-profile{
	width:100%;
}
.img-profilex{
	width: 45%;
	height: 80%;
}

#hero{
	padding-top: 70px;
	padding-bottom: 5px;	
}

.detel h1{
     font-size: 30px;
}

.detel{
	margin-left: 8%;
	padding-top: 445px;
}

.social-links{
	margin-left: 8%;
	margin-top: 5px;
}

nav .ri-menu-line{
	display: block;
	color: var(--secondary-color);
	font-size: 25px;
	padding-left: 160px;
}

nav .ri-close-line{
	display: block;
	color: var(--secondary-color);
	font-size: 25px;
	top: 25px;
	left: 25px;
	cursor: pointer;
	position: absolute;
}

#navbar ul{
	background:#AAB7B8;
	position: fixed;
	top: 0;
	right: -200px;
	width: 130px;
	height: 100%;
	padding-top: 50px;
	z-index: 2;
	transition: right 0.5s;
	padding-right: 10px;
}

#navbar i{
	padding-right: 8px;
}


/*----------------------------------------------ABOUT ME FOR SMALL SCREENS---------------------------------------------------------*/

.about-col-1, .about-col-2{
	flex-basis: 100%;
}
#about{
	padding-bottom:450px;
	padding-top: 50px;
	height: 100vh;
}
.about-col-2 h1{
	padding-top: 10px;
	margin-left: 20px;	
}

.about-col-2 p{
	margin-left: 20px;
}

.row{
	flex-wrap: wrap;
}

table{
	margin-left:20px;
}
td{
	padding-right: 10px;
	padding-top: 20px;
}

td span{
	font-weight: bold;
	font-size: 16px;
}

th{
	font-size: 18px;
	padding-right: 50px;
	transition: 0.5s;
	text-decoration: underline;
	cursor: pointer;
}

/*----------------------------------------------PROJECT FOR SMALL SCREENS---------------------------------------------------------*/

#portfolio{
	padding-top: 10px;
	padding-bottom: 575px;
	height: 100vh;
}

.line{
	padding-left:60px;
}

.work-list{
	margin-top: 60px;
}

.work{
	width: 100%;
}

.portfolio-img{
	max-width: 100%;
}

/*----------------------------------------------CONTACT ME FOR SMALL SCREENS--------------------------------------------------------*/


#contact{
	height: 100vh;
	padding-top: 90px;
	padding-bottom: 5px;
}
.contact-left{
	flex-basis: 100%;
	padding-left: 10px;
	margin-left: 25px;
}

.contact-right{
	flex-basis: 100%;
	margin-left: 25px;
}

/*----------------------------------------------FOOTER FOR SMALL SCREENS--------------------------------------------------------*/


.up i{
	font-size: 35px;
	padding-right: 5px;
}

footer{
padding: 20px 50px;
margin-top: 200px;
}

}